.experience-section {
    max-height: 650px;
    overflow-y: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    max-width: 750px;
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.07) transparent; 
}

.experience-section::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.experience-section {
    scrollbar-width: none;
}

.experience-section h2 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #d0e1ff;
  }
  
  .experience-icon {
    font-size: 30px;
    color: #005a9e;
    padding: 10px;
  }
  
 
  .experience-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  

  .experience-card:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  

  .experience-card.expanded {
    background: rgba(255, 255, 255, 0.2);
  }
  

  .experience-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  

  .left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .company-name {
    font-size: 18px;
    color: #d0e1ff;
    font-weight: bold;
  }
  
  .role {
    font-size: 14px;
    color: #99c0ff;
  }
  

  .right {
    text-align: right;
  }
  
  .location {
    font-size: 14px;
    color: #ccc;
  }
  
  .duration {
    font-size: 12px;
    color: #999;
  }
  

  .experience-details {
    margin-top: 10px;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .experience-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .experience-details li {
    font-size: 14px;
    color: #eee;
    margin-bottom: 5px;
  }
  