.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.icon-img {
    width: 50px; /* Adjust size */
    height: 50px;
}

  .icon span {
    display: block;
    color: white;
    font-size: 14px;
  }
  
  .window {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 10;
  }
  