.projects-section {
  max-height: 600px;
  overflow-y: auto;
  padding: 10px 20px;
  position: fixed;
  text-align: center;
  color: #d0e1ff;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0) transparent;
}

.projects-section::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.projects-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 20px 20px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 600px;
  cursor: pointer; 
}

.expand-btn {
  position: absolute;
  left: -25px; 
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #d0e1ff;
  font-size: 14x;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.project-summary {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-title {
  font-size: 18px;
  color: #d0e1ff;
  font-weight: bold;
  margin-bottom: 15px;
}

.project-date {
  font-size: 14px;
  color: #99c0ff;
}

.ptech-stack {
  font-size: 13px;
  font-weight: bold;
  color: #99c0ff;
}

.project-details {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0px 10px;
  transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
}

.project-card.expanded .project-details {
  max-height: 800px; 
  opacity: 1;
  padding: 0px 10px;
}

.project-details ul {
  list-style-type: disc;
  text-align: left; 
  padding-left: 10px; 
}

.project-details li {
  text-align: left; 
  font-size: 15px;
  color: #eee;
  margin-bottom: 8px;
  line-height: 1.5;
  position: relative;
  background-color: #50a8eb13;
}

.project-details li::before {
  content: "•";
  color: #1b79c2;
  font-size: 25px;
  position: absolute;
  left: -15px;
  top: 5px;
}
